* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #f8b400;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.menu-item {
    border: 5px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 15px;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.menu-item h2 {
    margin: 7px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-item p {
    font-size: 20px;
    margin: 10px;
}

.price {
    font-size: 20px;
    color: #f8b400;
}

button {
    background-color: #f8b400;
    border: none;
    color: #fff;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
}

@media (width < 750px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 100%;
    }
}
@media (width>425px) and (width< 1000px) {
    .menu-item3{
        width: 70%;
    }
}
